{% extends 'base.html.twig' %}

{% block title %}Login-Shangrila{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="jumbotron py-3 px-3">
            <h1 class="text-center">Connectez-vous</h1>

            {% if error %}
                <div class="aler alert-danger text-center my-3">Une erreur d'identification:  vérifiez votre email ou votre mot de passe</div>
            {% endif %}

            <form action="{{path("account_login")}}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="_username" id="email" class="form-control" placeholder="Votre adresse email" required value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="password">Mot de Passe</label>
                    <input type="password" name="_password" class="form-control" id="password" placeholder="Votre mot de passe" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Connexion</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mb-5">
        <span class="float-right">Pas encore inscrit? <i class="fas fa-long-arrow-alt-right"></i>
            <a href="{{path('account_register')}}" class="btn btn-info" type="submit" style="background-color:#B49C73;border-color:#B49C73">Inscrivez-vous</a>
        </span>
    </div>
    <br><br><br><br><br>
{% endblock %}
