{% extends 'base.html.twig' %}
{#{% form_theme form 'ad/_collections.html.twig' %}#}

{% block title %}Modification du MDP - Shangrila
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Modifiez votre mot de passe</h1>

		{#  {{form(form)}}   #}
		{{ form_start(form)}}

		{{ form_widget(form)}}

		{#button pour retouner à la page profile #}
		{% include 'account/_btnReturnProfilePage.html.twig' %}

		{{form_end(form)}}

	</div>

{% endblock %}

