<footer id="footer" class="row align-items-center" style="margin-left:-0.5em">
	<div class="liste-footer row">
		<div class="liste-1 col-md-3">
			<article>
				<h5>Informations</h5>
			</article>
			<article>
				<ul>
					<li><a href="#"><i class="fas fa-share"></i>Lien 1</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 2</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 3</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 4</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 5</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 6</a></li>
				</ul>
			</article>
		</div>
		<div class="liste-1 col-md-3">
			<article>
				<h5>Nos services</h5>
			</article>
			<article>
				<ul>
					<li><a href="#"><i class="fas fa-share"></i>Lien 1</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 2</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 3</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 4</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 5</a></li>
					<li><a href="#"><i class="fas fa-share"></i>Lien 6</a></li>
				</ul>
			</article>
		</div>
		<div class="liste-1 col-md-3">
			<article>
				<h5>Contactez-Nous</h5>
			</article>
			<article>
				<ul>
					<li>
						<span>Email</span>
						<div>
							<a href="#">site@site.com</a>
						</div>
					</li>
					<li>
						<span>Telephone</span>
						<div>
							<a href="#">00 000 0000</a>
						</div>
					</li>
					<li>
						<span>Adresse</span>
						<div>
							<a href="#">23 rue Paul Macatia 31000 Toulouse</a>
						</div>
					</li>
				</ul>
			</article>
		</div>
		<div class="liste-1 col-md-3">
			<article>
				<h5>Réseaux Sociaux</h5>
			</article>
			<article>
				<ul>
					<li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
					<li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
					<li><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a></li>
					<li><a href="#"><i class="fab fa-pinterest-p"></i>Pinterest</a></li>
					<li><a href="#"><i class="fas fa-rss"></i>RSS Feed</a></li>
				</ul>
			</article>
		</div>
	</div>
	<div class="navy-footer row justify-content-center">
		<nav class="navbar navbar-expand-xl navbar-dark bg-header col-md-8 offset-md-2">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Reservation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Menu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Shop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<p class="">Copyright &copy; Tous droits réservés par
		<span>Nelly PALASSY</span>

	</p>
</footer>


{# AJAX slim-min #}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

{# AJAX minifié#}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{# AJAX poppers #}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/
		dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/
		KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>

{#JS Boostrap #}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>#}


<!-- Boostrap Bundle with Popper --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"> </script>


{# MATERIALIZE #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.
		0.0/js/materialize.min.js"></script>

{# Récupérer/modifier/re-injecter le data-prototype de collectionType dans src/form/food.php puis utilisier dans templates/food/new.html.twig #}
<script type="text/javascript" src="/js/ad.js"></script>

{# panier #}
<script type="text/javascript" src="/js/panier.js"></script>

{# sliderhome #}
<script type="text/javascript" src="/js/sliderhome.js"></script>

{# navbarfixed#}
<script type="text/javascript" src="/js/navbarfixed.js"></script>

{# hideshow --- templates/food/index.html.twig #}
<script type="text/javascript" src="/js/hideshow.js"></script>

