{% extends 'base.html.twig' %}

{% block title %}Menu-Shangrila
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5 mt-3 text-center">Nos menus
			<i class="fas fa-hamburger"></i>
		</h1>
		<div class="row">
			<div class="col-md-11" id="containerMenus">
				<div class="row mt-5">
					{% for food in foods %}
						{# Afficher tous les food() #}
						{% include "food/_food.html.twig" %}
					{% endfor %}
				</div>
			</div>

			<div class="col-md-1 my-5" id="categoryMenu">
				<button class="btn btn-light mb-3">
					<a href="">ENTREES</a>
				</button>
				<button class="btn btn-light mb-3">
					<a href="">PLATS</a>
				</button>
				<button class="btn btn-light mb-3">
					<a href="">DESSERTS</a>
				</button>
			</div>

		</div>
	</div>
{% endblock %}

