{% extends "base.html.twig" %}

{% block body %}

	<section id="details" class="row">
		<div class="details col-md-8 offset-md-2">
			<h1>Interpellata</h1>
			<h2>paucis indignitatis</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,   sed do eiusmod tempor
			</p>
			<div class="detail-div">
				<a href="#">
					+ Détails</a>
			</div>
			<div class="navy">
				<nav class="navbar navbar-expand-xl navbar-dark bg-header col-md-8 offset-md-2">
					<a href="#">
						<img src="img/logo.png" alt="logo" titre="ShanGrila">
					</a>
					<div class="navy2">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link active" href="#">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">Reservation</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">Menu</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">Gallery</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">Blog</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">Shop</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">contact</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="plats" class="row">
		<h2>Cum Totidemque</h2>
		<h4>paucis indignitatis.</h4>
		<div class="row justify-content-center">
			<div class="div-article col-md-2">
				<article>
					<!--article 1 colonne 1-->
					<img src="img/2.jpg" alt="cupcake" class="img-fluid">
				</article>
				<article>
					<!--article 2 colonne 1-->
					<img src="img/delicious_3.jpg" alt="légumes poëlés" class="img-fluid">
				</article>
			</div>
			<div class="div-article col-md-2">
				<article>
					<!--article 1 colonne 2-->
					<h5>Petit Déjeuner</h5>
					<p>orem ipsum dolor sit amet,<br>
						consectetur adipiscing elit,sed do eiusmod tempor
						    											adipiscing elit,sed do eiusmod tempor</p>
					<form>
						<input type="button" name="button" value="Commander">
					</form>
				</article>
				<article>
					<!--article 2 colonne 2-->
					<h5>Petit Déjeuner</h5>
					<p>orem ipsum dolor sit amet,<br>
						consectetur adipiscing elit,sed do eiusmod tempor
						    											adipiscing elit,sed do eiusmod tempor</p>
					<form>
						<input type="button" name="button" value="Commander">
					</form>
				</article>
			</div>
			<div class="div-article div-article col-md-2">
				<article>
					<!--article 1 colonne 3-->
					<img src="img/delicious_2.jpg" alt="cup of tea" class="img-fluid">
				</article>
				<article>
					<!--article 2 colonne 3-->
					<img src="img/delicious_4.jpg" alt="plat" class="img-fluid">
				</article>
			</div>
			<div class="div-article col-md-2">
				<article>
					<!--article 1 colonne 4-->
					<h5>Petit Déjeuner</h5>
					<p>orem ipsum dolor sit amet,
						<br>consectetur adipiscing elit,sed do eiusmod tempor
						    											adipiscing elit,sed do eiusmod tempor</p>
					<form>
						<input type="button" name="button" value="Commander">
					</form>
				</article>
				<article>
					<!--article  colonne 4-->
					<h5>Petit Déjeuner</h5>
					<p>orem ipsum dolor sit amet,
						<br>consectetur adipiscing elit,sed do eiusmod tempor
						    											adipiscing elit,sed do eiusmod tempor</p>
					<form>
						<input type="button" name="button" value="Commander">
					</form>
				</article>
			</div>
		</div>
		<h2>Nos Plats</h2>
		<h4>Lorem ipsum dolor sit amet edit.</h4>
	</section>

	<section id="photos" class="row">
		<div class="photos-article col-md-3">
			<article>
				<!--article 1 colonne 1-->
				<img src="img/1.jpg" alt="plat">
			</article>
			<article>
				<!--article 2 colonne 1-->
				<img src="img/5.jpg" alt="hamburger">
			</article>
		</div>
		<div class="photos-article col-md-3">
			<article>
				<!--article 1 colonne 2-->
				<img src="img/2.jpg" alt="plat">
			</article>
			<article>
				<!--article 2 colonne 2-->
				<img src="img/6.jpg" alt="hamburger">
			</article>
		</div>
		<div class="photos-article col-md-3">
			<article>
				<!--article 1 colonne 3-->
				<img src="img/3.jpg" alt="plat">
			</article>
			<article>
				<!--article 2 colonne 3-->
				<img src="img/7.jpg" alt="hamburger">
			</article>
		</div>
		<div class="photos-article col-md-3">
			<article>
				<!--article 1 colonne 4-->
				<img src="img/delicious_4.jpg" alt="plat">
			</article>
			<article>
				<!--article 2 colonne 4-->
				<img src="img/8.jpg" alt="hamburger">
			</article>
		</div>
	</section>

	<section id="supra" class="row">
		<h2>Absolium Supra</h2>
		<h4>Absolum supra dictos</h4>
		<div class="row justify-content-between">
			<div class="supra-article col-md-4">
				<article>
					<img src="img/chef-2.jpg" alt="chef-cuisinière" titre="">
				</article>
				<article>
					<h5>Absolum supra</h5>
					<h6>Absolum supra dictos</h6>
				</article>
			</div>
			<div class="supra-article col-md-4">
				<article>
					<img src="img/chef-3.jpg" alt="chef-cuisinière" titre="">
				</article>
				<article>
					<h5>Absolum supra</h5>
					<h6>Absolum supra dictos</h6>
				</article>
			</div>
			<div class="supra-article col-md-4">
				<article>
					<img src="img/chef-1.jpg" alt="chef-cuisinière" titre="">
				</article>
				<article>
					<h5>Absolum supra</h5>
					<h6>Absolum supra dictos</h6>
				</article>
			</div>
		</div>
	</section>

	<section id="barre" class="row justify-content-center     align-items-center overlay">
		<h1>interpellata paucis.</h1>
	</section>

	<section id="reservation" class="row justify-content-center     align-items-center">
		<h2>Reservation</h2>
		<h4>Service adapté à vos envies</h4>
		<div class="row">
			<article>
				<span>
					<i class="far fa-calendar-alt"></i>
				</span>
				<form>
					<select>
						<option>19/11/2020</option>
						<option>10/12/2020</option>
						<option>12/01/2021</option>
					</select>
				</form>
			</article>
			<article>
				<span>
					<i class="far fa-clock"></i>
				</span>
				<form>
					<select>
						<option>8h 30mn</option>
						<option>14h 15mn</option>
						<option>9h</option>
					</select>
				</form>
			</article>
			<article>
				<span>
					<i class="far fa-user"></i>
				</span>
				<form>
					<select>
						<option>1 invité</option>
						<option>2 invités</option>
						<option>3 invités</option>
					</select>
				</form>
			</article>
		</div>
		<form>
			<input type="button" name="button" value="Reservez">
		</form>
	</section>

	<section id="commentaire" class="row justify-content-center     align-items-center">
		<div class="row align-items-center">
			<span class="carre carre1">
				<i class="fas fa-caret-left"></i>
			</span>
			<img src="img/chef-thumb.jpg" alt="" class="position">
			<span class="rond">
				<i class="far fa-comments"></i>
			</span>
			<span class="carre carre2">
				<i class="fas fa-caret-right"></i>
			</span>
		</div>
		<div class="span row justify-content-center     align-items-center">
			<div class="col-md-1">
				<span>sed do eiusmod tempor</span>
			</div>
			<div class="col-md-7">
				<span>orem ipsum dolor sit amet,consectetur adipiscing    elit,sed do eiusmod tempor adipiscing elit,sed do eiusmod   tempor sed do eiusmod tempor sed do eiusmod tempor     adipiscing elit,sed do eiusmod tempor sed do eiusmod    tempor sed do eiusmod tempor adipiscing elit,sed do   eiusmod tempor sed do eiusmod tempor sed  ...</span>
			</div>
		</div>
		<h6>paphus quin</h6>
	</section>

	<section id="blog" class="row align-items-center    justify-content-center">
		<h2>Our Blog</h2>
		<h4>In sit amet libero ut velit mattis convallis</h4>
		<h4>magna ac vulputate fermentum</h4>
		<div class="article row justify-content-center col-md-8">
			<div class="col-md-4">
				<article>
					<img src="img/news-1.jpg" alt="lait en bouteille">
				</article>
				<article class="article-border">
					<h5>Curabitur Quas Nets</h5>
					<p class="byme">10 septembre 2020 by
						<span>Nelly PALASSY</span>
					</p>
					<p class="blabla">
						leo facilisis est eleifend fermentum sit amet nec     nunc. Aenean ut ultrices purus. Cras nec massa    porttitor, porta ante at, dignissim risu</p>
				</article>
				<article class="last-article">
					<a href="#">+ détails</a>
					<a href="#">10 Likes</a>
				</article>
			</div>
			<div class=" col-md-4">
				<article>
					<img src="img/news-2.jpg" alt="lait en bouteille">
				</article>
				<article class="article-border">
					<h5>Curabitur Quas Nets</h5>
					<p class="byme">10 septembre 2020 by
						<span>Nelly PALASSY</span>
					</p>
					<p class="blabla">
						leo facilisis est eleifend fermentum sit amet nec     nunc. Aenean ut ultrices purus. Cras nec massa    porttitor, porta ante at, dignissim risu</p>
				</article>
				<article class="last-article">
					<a href="#">+ détails</a>
					<a href="#">10 Likes</a>
				</article>
			</div>
			<div class="col-md-4">
				<article>
					<img src="img/news-3.jpg" alt="lait en bouteille">
				</article>
				<article class="article-border">
					<h5 class="byme">Curabitur Quas Nets</h5>
					<p class="byme">10 septembre 2020 by
						<span>Nelly PALASSY</span>
					</p>
					<p class="blabla">
						leo facilisis est eleifend fermentum sit amet nec     nunc. Aenean ut ultrices purus. Cras nec massa    porttitor, porta ante at, dignissim risu</p>
				</article>
				<article class="last-article">
					<a href="#">+ détails</a>
					<a href="#">10 Likes</a>
				</article>
			</div>
		</div>
	</section>

{% endblock %}
